.vt-skt-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 5%;
  padding-left: 1rem;
  padding-right: 0.5rem;
  margin-right: 1rem;
  background-color: #f9f8fa;
}
.skeleton .text-sm-shrt {
  width: 5%;
  margin-top: 5px;
  background: #d2dbe2;
  border-radius: 1px;
  min-height: 12px;
}
.skeleton .thumbnail-sm-ico {
  width: 0;
  min-height: 0;
  margin-top: 20px;
}
.upVote-skt{
  border-bottom: 12px solid #d2dbe2;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.downVote-skt{
  border-top: 12px solid #d2dbe2;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

