.subredditRules {
  background-color: white;
  width: 20rem;
  margin-top: 2rem;
  padding-bottom: 1rem;
}
.rules-title {
  color: white;
  margin-left: 1rem;
}
.rulesList {
  padding-left: 2rem;
}
.rule:first-child{
  border-top: none;
  margin-top: 0.5rem;
}
.rule {
  margin-top: 1rem;
  border-top: 0.1px solid #eeeeef;
}
.banner {
  height: 2.8rem;
}
.rule-text {
  width: 80%;
}
.rule-show-arrow{
  margin-left: 2rem;
  margin-top: 0.5rem;
}

.rule-content{
  display: flex;
  align-items: baseline;
}
.rule-content:active .rule-show-arrow,
.rule-description .rule-show-arrow {
  transform: rotate(-90deg);
}
.rule-description {
  width: 80%;
  font-weight: lighter;
  font-size: 0.9em;
  display: none;
}
.rule-content:active .rule-description {
  display: block;
}
