#currentPost {
  margin-left: 30%;
  width: 45rem;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.911);
  min-height: 90rem;
  margin-bottom: 5rem;
  padding-bottom: 1rem;
  min-height: 0px;
}
#currentPost:hover {
  border: 0.1px solid #cccdcd;
}
#CPI {
  display: flex;
  align-items: initial;
  padding-top: 0rem;
}
#currentPostContent {
  margin-top: 1rem;
}

.currentPostText {
  margin-left: 0.5rem;
}
.currentPostImage {
  margin-left: 0;
}

.commentText {
  font-weight: 400;
  margin-left: 0.7rem;
  padding-left: 1rem;
  border-left: 3px solid #eceef1;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.commentSection {
  width: 90%;
  margin-top: 1rem;
}
.comment {
  list-style: none;
  margin-left: 0.7rem;
  padding-top: 1rem;
}
.commentBody {
  font-size: 0.75em;
  line-height: 1.4;
}
.commentHeader {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  font-size: 0.8em;
  color: rgb(80, 80, 80);
}
.comment-header-text {
  margin-left: 0.3rem;
}
.comment-header-text:hover {
  text-decoration: underline;
  cursor: pointer;
}
.reply {
  border-left: 3px solid #eceef1;
}
