.PostStyling {
  background-color: white;
  margin-bottom: 1rem;
  margin-right: 3rem;
  border-radius: 5px;
  border: 0.1px solid #cccdcd;
  margin-left: 50vh;
}
.Post {
  line-height: 1.3;
  display: flex;
  width: 50rem;
}
.PostContent {
  padding: 1.5rem 0 1rem 1rem;
  width: 100%;
  border-radius: 0 5px 5px 0;
}
.Post:hover {
  border: 0.1px blue solid;
}
.MainPostInfo {
  margin-top: 0.3rem;
  display: flex;
  flex-direction: column;
}
.PostTitle {
  width: 95%;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.4em;
}
.PostSelfText {
  width: 90%;
}
.Info {
  font-size: 0.8em;
  font-weight: 400;
  color: rgb(80, 80, 80);
}
.postImage {
  margin: auto;
  object-fit: cover;
}
@media only screen and (max-width:480px){
  .PostStyling {
    margin-left: 0;
  }
  .Post {
    width: 112%;
  }
  .postImage{
    display: none;
  }
} 
@media only screen and (min-width: 481px) and (max-width:850px){
  .PostStyling {
    margin-left: 5%;
  }
  .Post {
    width: 90%;
  }
} 