@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.911);
  text-decoration: none;
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

body {
  background-color: #dae1e7;
  overflow-x: hidden;
}
.redditBlue {
  background-color: #dae1e7;
}
.article {
  padding-top: 2rem;
}
.Link{
  z-index: 1;
  text-decoration: none;
}
a{
  color: orangered;
  text-decoration: underline;
}

th, td{
  border: 1px solid #ccc;
  padding: 5px;
}